/* Culori
   rosu: #c03;
   verde: #a1b963;
 */

* {
	border-radius: 0!important;
}

.container {
	max-width: 800px; /* micsoram latimea continutului */
}

.navbar-default {
	border: 0;
	background-color: #c03;
}

/* logo */
.navbar-brand {
	padding-top: 8px;
	padding-bottom: 8px;
}
.navbar-brand img {
	max-height: 100%;
	/* din inaltimea primului parinte cu height definit,
	   adica .navbar-brand definit in css-ul bootstrap */
	width: auto;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #d03;
}

/* Deoarece .navbar-fixed-top are position: fixed
   el nu mai impinge continutul in jos, adica este
   scos din document flow.
   Pentru asta trebuie sa coboram contentul manual. */
body {
	padding-top: 75px;
	padding-bottom: 75px;
}

.btn-primary {
	border-color: transparent!important;
	background-color: #a1b963;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #82a74c;
}

/* :before si :after sunt pseudo-clase ele adauga
   continut in html.
   Vom adauga o iconita pe toate butoanele .btn-like  */
.btn-like:after {
	content: ''; /* obligatoriu macar string gol */
	display: inline-block;
	width: 1.4em; /* relativ la font-size */
	height: 1.4em;
	margin-right: -.5em;
	background: url('../img/icon-cane.svg') no-repeat;
	background-size: contain;
	vertical-align: middle;
}

/* demo counter */
[counter]:before {
	content: attr(counter);
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: white;
	background: red;
	top: -10px;
	left: -10px;
}



.media {
	padding: 5px;
	border: 1px solid #eee;
}

.media-left {
	width: 55px;
}

.media-left img {
	height: auto; /* scalat proportional */
	max-width: 55px;
}

.navbar-default .navbar-toggle {
	border-color: #c03;
	background-color: #c03;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus  {
	background-color: #fff;
}

.navbar-fixed-bottom {
	margin-top: 20px;
}

.block-update-card {
  border: 1px #FFFFFF solid;
  width: 380px;
  float: left;
  margin-left: 0px;
  margin-top: 0;
  padding: 10px;
  box-shadow: 1px 1px 8px #d8d8d8;
  background-color: #FFFFFF;
}

@media (max-width: 768px) {

	.block-update-card {
		width: 200px;
	}
}

.block-update-card .h-status {
  width: 100%;
  height: 7px;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
.block-update-card .update-card-body {
  margin-top: 10px;
  margin-left: 5px;
}
.block-update-card .update-card-body h4 {
  color: #737373;
  font-weight: bold;
  font-size: 13px;
}
.block-update-card .update-card-body p {
  color: #737373;
  font-size: 12px;
}
.block-update-card .card-bottom-status {
  color: #a9a9aa;
  font-weight: bold;
  font-size: 14px;
  border-top: #e0e0e0 1px solid;
  padding-top: 5px;
  margin: 0px;
}
.block-update-card .card-bottom-status:hover {
  background-color: #dd4b39;
  color: #FFFFFF;
  cursor: pointer;
}

.createGift .form-horizontal {
	margin-left: 15px;
}

.createGift .form-horizontal .btn-primary {
	width: 75px;
	margin-left: -30px;
}

@media (max-width: 768px) {
	.createGift .form-control {
		width: 250px;
	}
}

.media-body {
     width: 100%;
}

.my-label {
	margin-top: 10px;
}

